In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
df1 = DataFrame({"city":['BJ','SH','GZ'], 'polpulation':[21,12,15]}, index=['A','B','C'])
df1

  city  polpulation
A   BJ           21
B   SH           12
C   GZ           15

In [13]:
df1['GDP']=Series([1000,2000,1500],index=['A','B','C'])

In [14]:
df1

  city  polpulation   GDP
A   BJ           21  1000
B   SH           12  2000
C   GZ           15  1500

In [15]:
gdp_map = {'BJ': 1100, 'SH':2100, 'GZ':1600}
df1['GDP'] = df1['city'].map(gdp_map)
df1

  city  polpulation   GDP
A   BJ           21  1100
B   SH           12  2100
C   GZ           15  1600

# replace

In [16]:
s1 = Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [17]:
s1.replace(1,np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [18]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [19]:
s1.replace({1:11})

0     0
1    11
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64

In [20]:
s1.replace([1,2,3],[11,12,13])

0     0
1    11
2    12
3    13
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64