In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
s1 = Series(np.random.rand(6), index=[['1','1','1', '2','2','2'],['a','b','c', 'a','b','c']])

In [6]:
s1

1  a    0.061817
   b    0.743862
   c    0.821890
2  a    0.604908
   b    0.958066
   c    0.673315
dtype: float64

In [7]:
s1['1']

a    0.061817
b    0.743862
c    0.821890
dtype: float64

In [8]:
type(s1['1'])

pandas.core.series.Series

In [9]:
s1['1']['a']

0.06181658115748245

In [13]:
s1[:,'a']

1    0.061817
2    0.604908
dtype: float64

In [14]:
s1

1  a    0.061817
   b    0.743862
   c    0.821890
2  a    0.604908
   b    0.958066
   c    0.673315
dtype: float64

# 多级Series到DataFrame的转换

In [15]:
df1 = s1.unstack()
df1

          a         b         c
1  0.061817  0.743862  0.821890
2  0.604908  0.958066  0.673315

In [18]:
df2 = DataFrame([s1['1'], s1['2']], index=['1','2'])
df2

          a         b         c
1  0.061817  0.743862  0.821890
2  0.604908  0.958066  0.673315

In [19]:
s2 = df2.unstack()
s2

a  1    0.061817
   2    0.604908
b  1    0.743862
   2    0.958066
c  1    0.821890
   2    0.673315
dtype: float64

In [20]:
s2 = df2.T.unstack()
s2

1  a    0.061817
   b    0.743862
   c    0.821890
2  a    0.604908
   b    0.958066
   c    0.673315
dtype: float64

# 多级Index的DataFrame

In [23]:
df = DataFrame(np.arange(16).reshape(4,4),
               index=[['a','a','b','b'], [1,2,1,2]], 
               columns=[['BJ','BJ','SH','GZ'],[8,9,8,8]])
df

     BJ      SH  GZ
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [24]:
df['BJ']

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13

In [25]:
df['SH']

      8
a 1   2
  2   6
b 1  10
  2  14

In [26]:
df['BJ'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int64

In [27]:
type(df['BJ'])

pandas.core.frame.DataFrame

In [28]:
type(df['BJ'][8])

pandas.core.series.Series