In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
df1 = DataFrame(np.random.randn(9).reshape(3,3),columns=['A','B','C'])
df1

          A         B         C
0 -0.404198 -0.431209  0.109086
1 -2.466836 -0.169378  0.046628
2 -1.414207 -0.442344 -0.132979

In [3]:
df1.index

RangeIndex(start=0, stop=8, step=1)

In [6]:
df1.index = Series(['BJ','SH','GZ'])
df1

           A         B         C
BJ -0.404198 -0.431209  0.109086
SH -2.466836 -0.169378  0.046628
GZ -1.414207 -0.442344 -0.132979

In [8]:
df1.index = df1.index.map(str.lower)
df1

           A         B         C
bj -0.404198 -0.431209  0.109086
sh -2.466836 -0.169378  0.046628
gz -1.414207 -0.442344 -0.132979

In [9]:
df1.rename(index=str.upper)
# 产生了一个新的DataFrame

           A         B         C
BJ -0.404198 -0.431209  0.109086
SH -2.466836 -0.169378  0.046628
GZ -1.414207 -0.442344 -0.132979

In [10]:
df1

           A         B         C
bj -0.404198 -0.431209  0.109086
sh -2.466836 -0.169378  0.046628
gz -1.414207 -0.442344 -0.132979

In [13]:
df1.rename(index={'bj':'BJ'}, columns={'A':'aa'})

          aa         B         C
BJ -0.404198 -0.431209  0.109086
sh -2.466836 -0.169378  0.046628
gz -1.414207 -0.442344 -0.132979

In [12]:
df1

           A         B         C
bj -0.404198 -0.431209  0.109086
sh -2.466836 -0.169378  0.046628
gz -1.414207 -0.442344 -0.132979

In [14]:
list1=[1,2,3,4]
list2=['1','2','3','4']

In [15]:
[str(x) for x in list1]

['1', '2', '3', '4']

In [17]:
list(map(str, list1))

['1', '2', '3', '4']

# 写一个自己的Map函数

In [18]:
def test_map(x):
    return x +'_ABC'

In [19]:
df1

           A         B         C
bj -0.404198 -0.431209  0.109086
sh -2.466836 -0.169378  0.046628
gz -1.414207 -0.442344 -0.132979

In [20]:
df1.index.map(test_map)

Index(['bj_ABC', 'sh_ABC', 'gz_ABC'], dtype='object')

In [21]:
df1.rename(index=test_map)

               A         B         C
bj_ABC -0.404198 -0.431209  0.109086
sh_ABC -2.466836 -0.169378  0.046628
gz_ABC -1.414207 -0.442344 -0.132979