In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s1 = Series(np.random.randn(10))
s1

0    0.692106
1   -0.055174
2   -0.601795
3    0.178397
4    0.373113
5    0.534098
6    0.805950
7    0.150940
8   -1.012229
9    0.085676
dtype: float64

In [4]:
s1.values

array([ 0.69210582, -0.05517442, -0.60179468,  0.17839692,  0.37311287,
        0.53409792,  0.80595016,  0.15093976, -1.01222924,  0.08567606])

In [6]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
s1.sort_values(ascending=False)

6    0.805950
0    0.692106
5    0.534098
4    0.373113
3    0.178397
7    0.150940
9    0.085676
1   -0.055174
2   -0.601795
8   -1.012229
dtype: float64

In [11]:
s1.sort_index(ascending=False)

9    0.085676
8   -1.012229
7    0.150940
6    0.805950
5    0.534098
4    0.373113
3    0.178397
2   -0.601795
1   -0.055174
0    0.692106
dtype: float64

# DataFrame

In [14]:
df1 = DataFrame(np.random.randn(40).reshape(8,5),columns=['A','B','C','D','E'])

In [15]:
df1

          A         B         C         D         E
0 -0.745738 -0.101299  0.806091  1.514106 -0.113947
1 -1.848952 -2.438149 -1.020040  1.438472 -1.322352
2 -1.017121 -0.546560  1.473489 -1.543917  0.239414
3 -1.043673  0.068613 -0.569225 -1.420704 -0.514006
4 -0.890590  1.103491 -0.086584 -1.124422  0.306063
5 -0.341899  0.164348  0.402814 -1.383259 -1.018028
6  2.499634  1.711489 -0.071575  0.511890  1.002635
7  0.993657 -0.428136 -0.720561  1.832002 -2.092564

In [16]:
df1['A'].sort_values()

1   -1.848952
3   -1.043673
2   -1.017121
4   -0.890590
0   -0.745738
5   -0.341899
7    0.993657
6    2.499634
Name: A, dtype: float64

In [18]:
df1.sort_values(by='A', ascending=False)

          A         B         C         D         E
6  2.499634  1.711489 -0.071575  0.511890  1.002635
7  0.993657 -0.428136 -0.720561  1.832002 -2.092564
5 -0.341899  0.164348  0.402814 -1.383259 -1.018028
0 -0.745738 -0.101299  0.806091  1.514106 -0.113947
4 -0.890590  1.103491 -0.086584 -1.124422  0.306063
2 -1.017121 -0.546560  1.473489 -1.543917  0.239414
3 -1.043673  0.068613 -0.569225 -1.420704 -0.514006
1 -1.848952 -2.438149 -1.020040  1.438472 -1.322352

In [19]:
df1.sort_index(ascending=False)

          A         B         C         D         E
7  0.993657 -0.428136 -0.720561  1.832002 -2.092564
6  2.499634  1.711489 -0.071575  0.511890  1.002635
5 -0.341899  0.164348  0.402814 -1.383259 -1.018028
4 -0.890590  1.103491 -0.086584 -1.124422  0.306063
3 -1.043673  0.068613 -0.569225 -1.420704 -0.514006
2 -1.017121 -0.546560  1.473489 -1.543917  0.239414
1 -1.848952 -2.438149 -1.020040  1.438472 -1.322352
0 -0.745738 -0.101299  0.806091  1.514106 -0.113947